body {
  background-image: url("https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/118/bacon_1f953.png"),url("https://th.bing.com/th/id/OIP.pEHCDkDJgJ8hw1UdNJdgZAHaHa?pid=Api&rs=1")
}
h1 {
  color: #ea5455;
}
p {
  color: #ff414d;
}
